 {{> header }}

  {{> navbar}}

  <div class="container row">
      <div class="col-8">
          <h1>About</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aperiam dolores sed atque optio odit eius fuga? Asperiores dolor, eveniet nemo consequuntur voluptatibus a? Nobis architecto maxime obcaecati voluptatum explicabo?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aperiam dolores sed atque optio odit eius fuga? Asperiores dolor, eveniet nemo consequuntur voluptatibus a? Nobis architecto maxime obcaecati voluptatum explicabo?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aperiam dolores sed atque optio odit eius fuga? Asperiores dolor, eveniet nemo consequuntur voluptatibus a? Nobis architecto maxime obcaecati voluptatum explicabo?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aperiam dolores sed atque optio odit eius fuga? Asperiores dolor, eveniet nemo consequuntur voluptatibus a? Nobis architecto maxime obcaecati voluptatum explicabo?</p>
      </div>
      <div class="col-4" style=" width: 100%;">
          <img src="/asset/img/image.jpg" alt="image" class="img-thumbnail" style="width: 100%; margin: 50px;">
        {{!-- <img src="/asset/img/image.jpg" alt="imagen" style="margin-left: 30px; width: 100% ;"> --}}
      </div>
  </div>

  {{> footer}}
